.header__lang-link {
  justify-items: end;
  justify-self: flex-end;
  align-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  max-width: 30px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-left: 18px;
  opacity: 1;
}
.header__lang-link:hover {
  opacity: 0.8;
  transition: 0.3s;
}

@media screen and (max-width: 660px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
