.header__lang-link-ru {
  justify-items: end;
  justify-self: flex-end;
  align-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  max-width: 30px;
  color: rgba(255, 255, 255, 1);
  margin: 18px 17px 6px 0;
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  .header__lang-link-ru {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }
}
