.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr;
  margin: 28px 48px 56px 48px;
  max-width: 1184px;
  height: 52px;
}

@media screen and (max-width: 1030px) {
  .header {
    margin: 28px auto 48px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0;
    margin: 28px 24px 48px 24px;
  }
}

@media screen and (max-width: 660px) {
  .header {
    margin: 16px auto 48px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 660px) {
  .header {
    width: calc(100% - 32px);
    margin: 16px auto 48px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
