.footer__links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 18px;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  opacity: 1;
}
.footer__link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
@media screen and (max-width: 725px) {
  .footer__links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 32px;
  }
}
