.lead__caption {
  align-self: flex-start;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, 1);
  margin-top: 9px;
}

@media screen and (max-width: 780px) {
  .lead__caption {
    padding-left: 16px;
  }
}
