.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 76px;
  color: #ffffff;
  margin: 0 auto 32px;
  z-index: 22;
}
@media screen and (max-width: 750px) {
  .cover__title {
    font-size: calc(2rem + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
    max-width: 75%;
    margin: 0 auto 16px;
  }
}
@media screen and (max-width: 660px) {
  .cover__title {
    line-height: 45px;
  }
}
@media screen and (max-width: 450px) {
  .cover__title {
    line-height: 35px;
  }
}
