.place__url-heading {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  align-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #aaaaaa;
  position: relative;
  bottom: 14px;
}
@media screen and (max-width: 660px) {
  .place__url-heading {
    display: none;
  }
}
